<!DOCTYPE html>
<html lang="en">
<head>
	<title>Chitter - Home</title>
	<link rel="stylesheet" type="text/css" href="<%= url("/styles/feed/feed.css") %>">
	<script src="https://kit.fontawesome.com/65db07c83e.js" crossorigin="anonymous"></script>
</head>
<body>
	<section class="feed-grid">
		<section class="side-grid">
			<h2 class="side-grid-header">Chitter <i class="far fa-comment-dots"></i></h2>
			<section class="user-info">
				<h3><%= @first_name%></h3>
				<h4>@<%= @username%></h4>
			</section>
		</section>
		<section class="peeps-grid">
			<section class="make-peep">
				<% if @username == "Guest" %>
					<div></div>
					<div id="create_peep"> Please Log in to post a peep</div>
					<div></div>
				<% else %>
					<div></div>
					<form action="/peeps/create" method="post" id="create_peep">
						<div>
							<label class="sr-only" for="message">peep message</label>
							<input type="text" name="message" class="peep_input peep_message" placeholder="What's up?"/>
						</div>
						<div>
							<input type="submit" name="submit" value="Peep it!" class="btn">
						</div>
					</form>
					<div></div>
				<%end%>
			</section>
			<section class="all-peeps">
				<% @peeps.each do |peep| %>
				<% peep_poster = User.select_id(id:peep.user_id)%>
					<section class="peep-grid" id=<%= peep.id%> >
						<img />
						<section class="peep-info">
							<div>
								<p><b><%=peep_poster.first_name%></b> @<%=peep_poster.username%></p>
							</div>
							<p id="peep-message"><%= peep.message%></p>
							<p id="peep-date"><%= peep.date%></p>
							<%comments = Comment.find_comments(peep_id: peep.id)%>
							<% comments.each do |comment|%>
								<p><%= comment.message%> <%= comment.date%></p>
							<%end%>
							<% if @username != "Guest" %>
								<form action="/comments/create" method="post">
									<input type="text" name="comment" class="input_comments" placeholder="Got a peep to make?"/>
									<input type="text" name="user" class="input_hidden" value=<%= peep.user_id%> />
									<input type="text" name="peep" class="input_hidden" value=<%= peep.id%> />
									<input type="submit" name="submit" value="peep back!" class="btn">
								</form>
							<%end%>
						</section>
					</section>
				<%end%>
			</section>
		</section>
		<section class="user-buttons">
			<% if @username == "Guest" %>
				<form action="/users/login" method="get">
					<label class="sr-only" for="login"> Login</label>
					<input type="submit" value ="Login" name="login" class="btn"/>
				</form>
			<%else%>
				<form action="/users/signout" method="post">
					<label class="sr-only" for="signout"> Login</label>
					<input type="submit" value ="Sign out" name="signout" class="btn"/>
				</form>
			<%end%>		
		</section>
	</section>
</body>
</html>